@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>نام و نام خانوادگی</th>
                <th>ایمیل</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.users)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>
